ul {
    list-style: none;
    padding: 0%;
    padding-left: 1%;
}

li {
    margin-bottom: 16px;
}

a {
    display: block;
    text-decoration: none;
}

.title_link {
    font-weight: bold;
    color: #1a1a1a;
}

.title_link:hover {
    text-decoration: underline;
}

.url-link {
    font-size: small;
    color: #666;
    word-break: break-all;
}

.url.link:hover {
    text-decoration: underline;
    color: #333;
}

.note {
    font-size: x-small;
    color: #331;
    font-style: italic;
    padding: 1%;
    word-break: normal;

}